@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #5C6BC0;
  font-weight: bolder
}

.about-container{
  text-align: center;
  margin-top: 5rem
}

.glossary-container{
  text-align: center;
  margin-top: 5rem
  
}

.terms{
  margin-left: 20%;
  margin-right:20%;
  text-align: left;
  margin-top:5%
}
